<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 style="text-center">Update Contact</h1>
<section>
  <input type="hidden" th:value="${contatc.cId}" name="cId"/>
  <form action="#" th:object="${contact}" enctype="multipart/form-data" method="POST" th:action="@{/user/process-update}">
    <div class="mb-3">
      <label for="Name1" class="form-label">Name</label>
      <input th:value="${contact.Cname}" type="text" class="form-control" id="Name1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input th:value="${contact.Cemail}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone</label>
      <input th:value="${contact.CphoneNo}" type="number" class="form-control" id="phone" >
    </div>
    <div class="mb-3">
      <label  class="form-label">About</label>
      <input type="text-box" class="form-control" id="myTextarea" rows="20" >
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</section>

</body>
</html>